%html
	%head
		%title TAL dashboard
		%script{ :src => "/js/Chart.min.js", :type => "text/javascript" }
	%body
		%a{:href => "/"}
			%h1 TAL statistics
		
		%h1= stat_name

		%canvas{:id => "chart",  :width => 500, :height => 500}

		:javascript
			var context = document.getElementById("chart").getContext("2d");
			var data = {
				labels: [#{versions}],
				datasets: [{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					data : [#{values}]
				}]
			};

			new Chart(context).Line(data)
