%html
	%head
		%title TAL dashboard
		%script{ :src => "/js/Chart.min.js" }
	%body
		%a{:href => "/"}
			%h1 TAL statistics
		%h1= stat_name

		%table
			%tr
				%th Value
				%th Date
				%th Application
			- all_stats.each do |stat|
				%tr
					%td= stat["value"]
					%td= stat["date"]
					%td= stat["referer"]

